/* Css Reset */

body {
    font-family: 'Baloo Bhaina 2', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background-image: url("bg.jpg");
}

.mid {
    display: block;
    margin: 20px auto;
    width: 53%;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 23px;
    color: white;
}

.navbar li a {
    text-decoration: none;
    padding: 0px 5px;
    color: white;
}

.navbar li a:hover,
.navbar li a.active {
    color: chocolate;
    text-decoration: solid underline;
}

.right {
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 20px;
}

.btn {
    background-color: black;
    font-family: 'Baloo Bhaina 2', cursive;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 16px;
}

#contactinfo {
    display: none;
}

.hoverinfo:hover #contactinfo {
    background-color: rgb(99, 80, 80);
    display: block;
}

#contactinfo p {
    text-align: center;
    background-color: black;
}

.up {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

.down {
    display: flex;
    flex-direction: column;
    align-content: left;
    /* justify-content: left; */
}

.maincontainer {
    display: flex;
    /* align-content: center; */
    /* justify-content: center; */
    width: 100vw;
}